<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/styles.css")
    body
        
        .box1 
        .box2 
        .box3 
            .box3__col1 
            .box3__col2 
                .box3__col2__a 
                .box3__col2__b 
                    .box3__col2__b__1
                    .box3__col2__b__2
                    