.box1 {
    width: 100%;
    height:80px;
    background-color:#1abc9c;
}

.box2 {
    width: 100%;
    height:250px;
    background-color: #2ecc71;
}

.box3 {
    width:100%;
    height:300px;
    background-color: #3498db;
    display: flex;
    flex-direction: row;
}

.box3 .box3__col1 {
    width:50%;
    height:300px;
    background-color: #9b59b6;

}

.box3 .box3__col2 {
    width:50%;
    height:300px;
    background-color: #34495e;
    
}

.box3 .box3__col2 .box3__col2__a {
    width: 100%;
    height: 150px;
    background-color: #16a085;
}

.box3 .box3__col2 .box3__col2__b {
    width:150%;
    height:150px;
    background-color: #27ae60;
    
    
}

.box3 .box3__col2 .box3__col2__b .box3__col2__b__1 {
    width : 35%;
    height : 150px;
    background-color : #e74c3c;
}

.box3 .box3__col2 .box3__col2__b .box3__col2__b__2 {
    width : 35%;
    height: 150px;
    background-color : #d46c10;
}